<?xml version="1.0" encoding="UTF-8"?>
<data>
  <routes type="dict">
    <key name="/test/[test variable]" type="dict">
      <GET type="str">A test route</GET>
    </key>
    <key name="/routes" type="dict">
      <GET type="str">The list of routes in a computer-readable format</GET>
    </key>
  </routes>
</data>