<%page args="title=''"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Statik API | <%block name="title"/></title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- Some meta tags, important for SEO-->

    <meta name="description" content="<%block name="description" />" />
    <meta name="keywords" content="<%block name="keywords" />" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="index,follow" />

    <link rel="shortcut icon" href="/static/images/icon.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/images/icon.png" />

    <!-- JQuery -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Semantic CSS and JS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/css/semantic.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/javascript/semantic.min.js"></script>

    <!-- Other CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" />
    <link href="/highlight.css" rel="stylesheet" />
    <link href="/static/style.css" rel="stylesheet" />

    <!-- Any template/route-defined headers -->
    <%block name="header"/>
    <!-- End template/route-defined headers -->
</head>
<body>
    <div class="ui one column page grid">

        <!-- Top menu -->
        <div id="menu" class="ui teal inverted pointing fluid menu">
            <a class="item" href="http://statik.io">
                <i class="home icon"></i>
                Home
            </a>
            <a class="active item" href="/">
                <i class="setting icon"></i>
                API
            </a>
        </div>

        <!-- Main content -->
        <div class="ui column">
            <div class="ui container">
                ${self.body()}
            </div>
        </div>
    </div>

    <!-- Semantic JS stuff -->
    <script>
        // Sidebar triggers
        // $("#sidebar").first().sidebar("attach events", ".menu-toggle");
        // Initialize popups
        // $('.popup').popup();
        // Initialize accordions
        $(".accordion").accordion();
    </script>
</body>
</html>
